@{
    ViewBag.Title = "Home";
}

<div class="jumbotron jumbotron-fluid col-md-12 homeJumbo text-center">
    <div class="container-fluid">
        <h1>Or Priesender</h1>
        <p style="color:#efd469">Software and Web development</p>
    </div>
</div>

    <div class="row col-centered">
        <div class="col-md-4 text-center about">
           <i class="fa fa-male" style="font-size:100px; padding-bottom:5%"></i>
            <p>
                Hello! My name is Or Priesender, and I am a currently persuing a B.Sc in Computer Science (3rd and last year).<br />
                My current goal is to work in a challenging enviorment, making it possible for me to learn
                and develop my existing skills, never the less, expanding my horizons and learning new skills
                and technologies.
                
            </p>
           
        </div>
        <div class="col-md-4 text-center about">
            <i class="fa fa-code" style="font-size:100px; padding-bottom:5%"></i>
            <p>
                I have a large variety of skills, starting at web development with HTML5, CSS3, Javascript, C# and ASP.NET MVC
                through Object Oriented Programming with Java and C++.<br /> In addition, I have profound knowledge in algorithms, data structures
                and more. 
            </p>
           
        </div>
        <div class="col-md-4 text-center about">
            <i class="fa fa-rocket" style="font-size:100px; padding-bottom:5%"></i>
            <p>
                In this website you will be able to examine my most recent projects, via video, detailed description,
                and obviously CODE.<br /> Please contact me for any further information, and I will be happy to reply.
            </p>
           
        </div>
    </div>
