@font-face{
    font-family:'Libre_Regular';
    src: url(../fonts/Libre_Franklin/LibreFranklin-Regular.ttf);
}

@font-face{
    font-family:'Libre_Bold';
    src: url(../fonts/Libre_Franklin/LibreFranklin-Bold.ttf);
}





html {
    
   background: url(../Images/keyboardd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  
}

body {
    font-family:'Libre_Regular';
    font-size:20px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:transparent;
   color:#f2f3f4; 
}

.fullOpacity{
    opacity:1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.noOpacity{
     opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

h1{
    font-family:Libre_Bold;
    font-size:50px;
}

h2{
    font-family:Libre_Bold;
    font-size:40px;
}

#description{
    font-size:20px;
    text-align: left;
    
}
.thumbnail {
   position:relative;
    overflow:hidden;
    height:350px;
}



.about{
    margin-top:10%;
    font-size:20px;
}

.about:hover{
     color:#efd469;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(54, 57, 61, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}
    



iframe{
    border: 4px groove black;
}



.btn{
    background-color:transparent;
    color:#efd469;
}


a, a:visited, a:hover, a:active {
    text-decoration: none;
    color:#efd469;
}


ul.nav a:hover { 
    color: #efd469 !important; 

}

.navbar-nav > li > a {
   
    line-height: 30px;
}

.navbar-nav > li > .dropdown-menu { 
     background-color: #222;
     border-color: #080808;

}

.navbar .dropdown-menu {
  width: 300px;
  padding: 10px;
}
.navbar .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
}
.navbar .dropdown-menu form .form-group .form-control,
.navbar .dropdown-menu form .form-group label,
.navbar .dropdown-menu form .form-group .btn-primary {
  margin: 5px 0;
}
.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron{
   background: rgba(242, 243, 244, 0.2);
    transition:500ms;
}

.jumbotron:hover{
    background:rgba(242, 243, 244, 0.3);
    transition:300ms;
}

.glyphicon{
    font-size:100px;
    padding-bottom:20px;
}

.homeJumbo:hover{
    background: rgba(242, 243, 244, 0.2);
}

#vidButton{
    top:0;
    left:0;
    
}

#vidJumbo:hover{
    background: rgba(242, 243, 244, 0.2);
}
.hideme{
    display:none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#gitlink{
    color:#f2f3f4;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    top:0px;
    right:0px;
}



#gitlink:hover{
    color:#efd469;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#vid{
    width:100%;
    height:100%;
    margin: 0 auto;
}

#vidContainer{
    width:800px;
    height:600px;
    padding-bottom:20px;
    padding-left:20px;
    bottom:0px;
}

.blockDisplay{
    display:block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.inlineDisplay{
    display:inline;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

hr{
    border-top:1.3px groove white;
}

.bottom-margin{
    margin-bottom:2%;
}

.thumbnail{
    background:transparent;
    
}

.thumbnail img {
    max-width:100%;
    max-height:100%;
    height:100%;
    width:100%;
}

footer {
   font-size:14px;
    position: static;
    bottom: 5%;
    width: 100%;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
